
/*-----------General--------------*/

body {
    margin-top: 50px;
    padding: 0;
    background-image: url("../assets/images/workout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 100%;
}

.holder {
    background-color: rgba(227, 224, 207, .95);
    padding: 30px;
}

/*-----------Header--------------*/
header {
    text-align: center;
}

header h1 {
    color: #9fa8a3;
    font-size: 72px;
}

/*-----------Form--------------*/
.form-primary {
    text-align: center;
}

.form-primary h3 {
    color: #9fa8a3;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

select {
    background: #fff;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: none;
    height: 34px;

}

input[type=submit] {
    margin-left: 20px;
    padding:5px 15px;
    background:#b4c4ba;
    color: #fff;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.btn {
    text-align: center;
    width: 100%;
    color: #a3b3a9;
}

/*-----------List--------------*/

.row {
    margin-top: 10px;
    border-bottom: 1px solid #fff;
}

.list {
    max-width: 680px;
    margin: 0 auto;
}
.title {
    background-color: #b4c4ba;
    color: #fff;
    text-align: center;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.item {
    background-color: #b4c4ba;
    color: #fff;
}
